VITE_API_URL=http://localhost:5000
VITE_SOCKET_URL=http://localhost:5000
VITE_ZEGO_APP_ID=1977442120
VITE_ZEGO_SERVER_SECRET=20294d45556bfd491ddad761d3d76cc0
#web push 1 for enabling notifications, 0 for disabling
VITE_ENABLE_WEB_PUSH=1
